.skeleton {
  padding: 1rem 0.5rem;
  width: 100%;
  height: 100%;
}

.widthStart {
  width: 25%;
}

.pointer {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.table {
  border: 1px solid;
  border-bottom: none;
  width: max-content;
}

.row {
  &.evenRow {
    background: var(--bg-color);
  }

  &.notEvenRow {
    background: var(--bg-color);
  }

  &.header {
    font-weight: bold;
  }
}

.row.rowLast {
  border-bottom: 1px solid;
}

.cell.isLast {
  border-right: none;
  &.body {
    border-right: none;
  }

  &.body.inverted {
    border-right: none;
  }
}

.cell {
  padding: 6px 12px;
  text-align: center;
  border-right: 1px solid;
  border-bottom: 1px solid;
  user-select: none;
  cursor: pointer;
}

.empty {
  margin: 1rem auto;
}

.dynamicCell {
  width: 100%;
}
